<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vacation Rental Application</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>