
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Vacation rental Website</title>
    <link rel="stylesheet" href="/components-styles/UserLogin.css", "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
</head>

    <body>
        <main class="container">
            <h1>Vacation Rental Application</h1>
            <div class="row">
                <div class="col-sm-6">
                    {{{body}}}
                </div>
            </div>
        </main>

        <script src="/public/main.js"></script>
    </body>
</html>