<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>User Preference</title>
        <link rel="stylesheet" href="/styles/components-styles.css/UserLogin.css">
    </head>
  <body>
    <header>
    <h1>User Preference</h1>
   
    </header>
    <main> 
      <span><p>To book or search a property, sign-in as a Guest: </p> <button id="guest" onclick="location.href='/user/:id'">Guest</button></span>
      <br>
      <br>
      <br>
      <br>
      <span><p> To post a propertey, sign-in as a Host: </p> <button id="host" onclick="location.href='/host/:id'">Host</button></span>
    </main>
    

    {{!-- <a href="/user-pref" class="search-link">Make another search</a> --}}
    </main>
  </body>
</html>