<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Preference</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <header>
    <h1>Properties Booking</h1>

  </header>
  <main>
  </main>

  <a href="/bookings" class="search-link">Make another search</a>
  </main>
</body>

</html>