<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Booking Form</title>
    <link rel="stylesheet" href="/styles/components-styles.css/bookingPage.css">
  </head>
  <body>
    <header>
      <h1>Booking Form</h1>
    </header>
    <main>
      <div class="bookng-form">
        <form id="static-form">
            <label for="text_input">Enter text here: </label>
            <textarea name="check-in-date" id="booking-info" required></textarea>
            <textarea name="check-out-date" id="booking-info" required></textarea>
            <h2>{{calculated_fees}}</h2> 
            <button type="submit">Confirm Booking</button>
            
        </form>
      </div>
    </main>
  </body>
</html>
