<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
  <title>Booking Form</title>
  <link rel="stylesheet" href="/styles/components-styles.css/bookingPage.css">
</head>

<body>
  <header>
    <h1>Booking Form</h1>
  </header>
  <main>
    <div class="booking-confirmation">
      <h2>Calculated rent is: {{calculated_fees}}</h2>
      <h3>Booking is confirmed, your booking id for your is <br> {{booking_id}} </h3>
      <h2>Go back to your bookings <button id="redirect">Click me</button></h2>

    </div>
  </main>
</body>

=======
  <head>
    <title>Booking Form</title>
    <link rel="stylesheet" href="/styles/components-styles.css/bookingPage.css">
  </head>
  <body>
    <script>
     function openMyBookings(){
       window.location.href = '/guest/bookings';
     }
    </script>
    <header>
      <h1>Booking Form</h1>
    </header>
    <main>
      <div class="booking-confirmation">
            <h2>Calculated rent is: {{calculated_fees}}</h2>
            <h3>Booking is confirmed, your booking id for your is <br> {{booking_id}} </h3>
            <h2>Go back to your bookings <button id="redirect" onclick="openMyBookings()">Click me</button></h2>
            
      </div>
    </main>
  </body>
>>>>>>> 130379c146789d1c4ad21b6a6257d5ca56207973
</html>