<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Confirmation</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
  <body>
    <header>
    <h1>Booking Confirmation</h1>
   
    </header>
    <main>
    

    <a href="/search_rentals" class="search-link">Make another search</a>
    </main>
  </body>
</html>