<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Guest Login</title>
        <link rel="stylesheet" href="/styles/components-styles.css/UserLogin.css">
    </head>
  <body>
    <header>
    <h1>Hello, how are you? We missed you here</h1>
   
    </header>
    <main> 
      <span> <Button id="personal-details"> Personal </Button> <Button id="past-booking"> Past Bookings </Button> <Button id="upcoming-booking"> Personal </Button> </span>
      <br>
      <br>
      <br>
      <Button id="search-property"> Search Property </Button>
    </main>
    

    {{!-- <a href="/user-pref" class="search-link">Make another search</a> --}}
    </main>
  </body>
</html>