<!DOCTYPE html>
<html lang="en">

<head>
  <title>Guest Login</title>
  <link rel="stylesheet" href="/styles/components-styles/UserLogin.css">
</head>

<body>
  <header>
    <h1>{{{title}}}</h1>
    <h2>Hello, how are you? We missed you here!</h2>

  </header>

  <br>
  <br>

  <main>
    <h2>Hi, {{{user.firstName}}}! how have you been? </h2>
    <h3> </h3>

    <input id="fileInput" type="file" accept="image/jpg, image/jpeg, image/png" name="image">
    <input type="submit">

    <br><br>
    <form id="guestHomepage" method="post" action="/guest/dashboard">
      <div class="buttons-container">
        <Button id="personal-details" type="submit" name="selected_option" value="user_personal"> Personal
        </Button>&emsp;
        <Button id="past_booking" type="submit" name="selected_option" value="past_bookings"> Past Bookings
        </Button>&emsp;
        <Button id="upcoming_booking" type="submit" name="selected_option" value="upcoming_bookings"> Upcoming Bookings
        </Button>
      </div>
      <br>
      <br>
      <br>
      <Button id="search-property" type="submit" name="selected_option" value="search"> Search Property </Button>
    </form>


    <a href="/logout">Logout</a>
    {{!-- <a href="/user-pref" class="search-link">Make another search</a> --}}
  </main>
  <script>
    const fileInput = document.getElementById("fileInput");
    if (fileInput) {
      fileInput.addEventListener("change", e => {
        const file = fileInput.files[0];
        const reader = new FileReader();
        let result;
        reader.addEventListener("load", () => {
          result = reader.result;
          console.log(result);
        });
        let dataURL = reader.readAsDataURL(file);
        console.log(dataURL);
      });
    };
  </script>
</body>

</html>