<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/main-styles.css">
</head>

<body>
  <main>
    <h1>Welcome to our Website</h1>
    <p>Your stay for your next visit. You can find the property you like and you can have a look at what all it
      provides. I'm sure you will get the right fit for you.</p>
    </form>
  </main>
</body>

</html>