<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/main-styles.css">
</head>

<body>
  <main>
    <h1>Welcome to our Website</h1>
    <p>Your stay for your next visit. You can find the property you like and you can have a look at what all it
      provides. I'm sure you will get the right fit for you.</p>
    </form>
  </main>
</body>

</html>
=======
  <head>
    <title>Venue Finder</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <main>
      <h1>Welcome to our Website</h1>
      <p>Your stay for your next visit. You can find the property you like and you can have a look at what all it provides. I'm sure you will get the right fit for you.</p>
      </form>
    </main>
  </body>
</html>
>>>>>>> 96dd4e2b91e5db7efe86ff9e515bfae748fc0aa8
