<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Venue Finder</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
  </head>
  <body>
    <main>
      <h1>Welcome to our Website</h1>
      <p>Your venue for your next event. You can find the venue you look and you can have a look at what all it provides. I'm sure you will get the right fit for you.</p>
      </form>
    </main>
  </body>
</html>
