
<header>
  <h1>Hello, {{user.firstName}}? We missed you here</h1>
</header>

<br>
<br>

<main> 
  <div class="user-image-container">
  {{#if user.image}}
    <img src="{{user.image}}" alt="User image" id="userImage" style="width: 400px;height: 400px;">
  {{else}}
    <input type="file" id="imageInput" accept="image/*">
    <button onclick="uploadImage()">Upload Image</button>
  {{/if}}
</div>

<br>
<br>

  <div class="buttons-container">
    <button id="personal-details">Personal Details</button>
    <button id="view-property">View Property</button>
  </div>

<br>
<br>

  <button id="post-property">Post Property</button>
</main>

<a href="/logout">Logout</a>

<script src="/styles/client-side/hostHomePage.js"></script>
