<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thank You</title>
    <link rel="stylesheet" href="/styles/components-styles/UserLogin.css">
  </head>
  <body>
    <h1>Thank You!</h1>
    <p>Your form has been submitted.</p>
    <br>
    <br>
    <a href="/host/view_property" >Go back to your Propoerties</a>
    <br>
    <a href="/host/dashboard" >Go back to Homepage</a>
  </body>
</html>