<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Vacation Rental Application</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
  <body>
    <header>
    <h1>Properties Found</h1>
    <h2>Look we found some properties for you {{searchRentalTerm}} </h2>
    </header>
    <main>
    <ol>
        {{!-- {{#each venues}}
            <li>venue: <a href="/search_rentals/{{id}}">{{name}}</a></li>
            
        {{/each}} --}}
        <li><a href="/listings/{{:id}}">Propertiy Listings</a></li>
    </ol>

    <a href="/search_rentals" class="search-link">Make another search</a>
    </main>
  </body>
</html>