<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
  <body>
    <header>
    <h1>User Login</h1>
   
    </header>
    <main> </main>
    

    <a href="/login" class="search-link">Make another search</a>
    </main>
  </body>
</html>