<!DOCTYPE html>
<html>
<head>
  <title>Checkout cancelled</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <p>Changed Your Mind? Visit More Properties and  then come back to pay!</p>
  </section>
  <br>
     <a href="/guest/search">Search Again</a>
     <br>
    <a href="/guest/bookings" >Go back to your Bookings</a>
    <br>
    <a href="/guest/dashboard" >Go back to Homepage</a>
</body>
</html>