
<script id="reviews" >
  <div class="reviews">
    <p>Rating: {{rating}}</p>
    <p>{{review}}</p>
  </div>
</script>
<main>
<h2>Hey, {{{user.firstName}}}, Please review the property. Your reviews are precious to us </h2>

<form id="reviews">
  <label for="rating">Rating:</label>
  <select id="rating" name="rating" required>
    <option value="">Select rating</option>
    <option value="5">5 stars</option>
    <option value="4">4 stars</option>
    <option value="3">3 stars</option>
    <option value="2">2 stars</option>
    <option value="1">1 star</option>
  </select>

  <label for="review">Review:</label>
  <textarea id="review" name="review" required></textarea>
  <input type="hidden" id="property-id" name="property_id" value="{{property_id}}">
    <br>
    <br>
  <button type="submit" id="submit-review">Submit Review</button>
</form>
</main>

<a href="/guest/dashboard" >Go back to your homepage</a>