<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vacation Rental Application</title>
    <link rel="stylesheet" href="/styles/components-styles.css/searchRentals.css">
  </head>

  <body>
    <main>
      <h1>Finder</h1>
      <p>Your venue for your next event. You can find the place you lile and you can have a look at what all it provides. I'm sure you will get the right fit for you.</p>
      <form method="post" action="/search_rentals">
        <label for="searchRentalTerm">Search Venue:</label>
        <input type="text" id="searchLocation" name="searchLocation">Location</input>
        <input type="text" id="searchCharges" name="searchCharges">Charges Per Night</input>
        <input type="text" id="searchAvailability" name="searhAvailability">Availability</input>
        <input type="text" id="searchAmeneties" name="searhAmeneties">Amenities</input>
        <input type="submit" value="Search">
      </form>
    </main>
  </body>
</html>