<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
  <title>Vacation Rental Application</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <main>
    <h1>Finder</h1>
    <p>Your venue for your next event. You can find the place you lile and you can have a look at what all it provides.
      I'm sure you will get the right fit for you.</p>
    <form id="search-form" method="post" action="/search_rentals">
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" class="form-control" placeholder="Enter location">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" class="form-control" placeholder="Enter max price">
      </div>
      <div class="form-group">
        <label for="availability">Availability</label>
        <select name="availability" id="availability" class="form-control">
          <option value="selection">-- Select availability --</option>
          <option value="true">Available</option>
          <option value="false">Not available</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amenities">Amenities</label>
        <select name="amenities" id="amenities" class="form-control">
          <option value="selection">-- Select amenities --</option>
          <option value="ac">Air Conditioner</option>
          <option value="heater">Heater</option>
          <option value="fireplace">Fireplace</option>
          <option value="pool">Swimming pool</option>
          <option value="gym">Gym</option>
          <option value="play">Play Ground</option>
          <option value="spa">Spa</option>
          <option value="tub">Bath tub</option>
        </select>
      </div>
      <button type="submit" class="search">Search</input>
    </form>
    <div id="search-results"></div>
  </main>
</body>

=======
  <head>
    <title>Vacation Rental Application</title>
    <link rel="stylesheet" href="/styles/components-styles.css/searchRentals.css">
  </head>

  <body>
    <main>
      <h1>Finder</h1>
      <p>Your venue for your next event. You can find the place you lile and you can have a look at what all it provides. I'm sure you will get the right fit for you.</p>
      <form method="post" action="/search_rentals">
        <label for="searchRentalTerm">Search Venue:</label>
        <input type="text" id="location" name="searchLocation">Location</input>
        <input type="text" id="charges" name="searchCharges">Charges Per Night</input>
        <input type="text" id="availability" name="searhAvailability">Availability</input>
        <input type="text" id="ameneties" name="searhAmeneties">Amenities</input>
        <input type="submit" value="Search">
      </form>
    </main>
  </body>
>>>>>>> 96dd4e2b91e5db7efe86ff9e515bfae748fc0aa8
</html>