<!DOCTYPE html>
<html lang="en">

  <body>
    <main>
      <h1>Finder</h1>
      <p>Your venue for your next event. You can find the place you lile and you can have a look at what all it provides. I'm sure you will get the right fit for you.</p>
      <form method="post" action="/search/list">
        <label for="searchRentalTerm">Search Venue:</label>
        <input type="text" id="location" name="location">Location</input>
        <input type="text" id="charges" name="price">Charges Per Night</input>
        <input type="text" id="availability" name="availability">Availability</input>
        <input type="text" id="ameneties" name="ameneties">Amenities</input>
        <input type="submit" value="Search">
      </form>
    </main>
  </body>
</html>