<header>
    <h1 id="sign-up-header">Sign Up Form</h1>
</header>
<main>
    <div class="sign-up-form-container">
        <form id="sign-up-form" action="/sign-up" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" placeholder="Enter your first name" id="firstName-input" name="firstName" required>
            <label for="lastName">Last Name:</label>
            <input type="text" placeholder="Enter your last name" id="lastName-input" name="lastName" required>
            <label for="age">Age:</label>
            <input type="number" placeholder="Enter your age" id="age-input" name="age" required>
            <label for="email">Email:</label>
            <input type="email" placeholder="Enter your email" id="email-input" name="email" required>
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter your password" id="password-input" name="password" required>
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" placeholder="Enter your phone number" id="phoneNumber-input" name="phoneNumber" required>
            <label for="role">Role:</label>
            <input type="text" placeholder="Enter your role" id="role-input" name="role" required>
            <button type="submit" id="signup-btn">Sign Up</button>  
        </form>
    </div>
    <p>Already have an account? <a href="/login">Log in here</a>.</p>
</main>
<script src="../../styles/client-side/signUpValidation.js"></script>


