<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Sign-Up</title>
        <link rel="stylesheet" href="/styles/components-styles.css/UserLogin.css">
    </head>
  <body>
    <header>
    <h1>Sign Up Form</h1>
   
    </header>
    <main> 
      <div class="sign-up-form">
        <form id="sign-up-form">
            <label for="sign-up" aria-placeholder="sign-up">Sign-Up Here!</label><br><br>
            <textarea type="username" placeholder="username" id="login-username" required></textarea><br>
            <textarea type="password" placeholder="password" id="login-password" required></textarea><br>
            <textarea type="phone-number" placeholder="phone-number" id="phone-number" required></textarea><br>
            <textarea type="email" placeholder="email" id="email" required></textarea><br>
            <button type="submit" id="signup-btn" onclick="location.href='/login'">Sign-Up</button>
            
        </form>
      </div>
    </main>
    </main>
  </body>
</html>