<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Sign-Up</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
  <body>
    <header>
    <h1>Sign Up Form</h1>
   
    </header>
    <main> </main>
    

    <a href="/sign-up" class="search-link">Make another search</a>
    </main>
  </body>
</html>