<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
  <title>Thank You</title>
</head>

<body>
  <h1>Thank You!</h1>
  <p>Your form has been submitted.</p>
</body>

</html>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
    <h1>Thank You!</h1>
    <p>Your form has been submitted.</p>
  </body>
</html>
>>>>>>> 130379c146789d1c4ad21b6a6257d5ca56207973
