* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}

body {
	background: #537d58;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
	max-width: 75%;
	margin: auto;
}

header {
	border-bottom: 1px solid #505583;
}